<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WAE Stars Generator</title>
</head>
<body>


<form action="">
    <label for="name">
        <span>Unternehmensname</span>
        <input type="text" placeholder="Unternehmensname" name="name" id="name">
    </label>
    <label for="mybusiness">
        <span>Rezensions Link</span>
        <input type="text" placeholder="Rezensions Link" name="mybusiness" id="mybusiness">
    </label>
    <div class="tile tile-1">
        <label for="brating">
            <span>Best Rating</span>
            <input type="text" placeholder="Rezensions Link" name="brating" id="brating">
        </label>
    </div>
    <div class="tile tile-2">
        <label for="wrating">
            <span>Worst Rating</span>
            <input type="text" placeholder="Rezensions Link" name="wrating" id="wrating">
        </label>
    </div>
    <div class="tile tile-3"></div>
    <div class="tile tile-4"></div>
    <label for="mybusiness">
        <span>Rezensions Link</span>
        <input type="text" placeholder="Rezensions Link" name="mybusiness" id="mybusiness">
    </label>
    <label for="mybusiness">
        <span>Rezensions Link</span>
        <input type="text" placeholder="Rezensions Link" name="mybusiness" id="mybusiness">
    </label>


</form>



</body>
</html>
